body {
  font-size: 16px;
  color: #fff;
  background-color: #8ae980;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #461656;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #e9e2e2;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ede3e7;
  text-align: center;
}
/* #nav-list a:hover {
  background: #E7E7E7;
} */
#nav-list a span {
  font-size: 1.8em;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */
h2{
  text-align: center;
  color: #000;
  font-weight: bolder;
  margin-bottom:5% ;
}
h3{
  text-align: center;
  font-weight: bold;
}
.container-fluid{
  width:80%;
  background-color: #557c3e;
  color: aliceblue;
  margin-left: 10%;
  margin-right: 10%;

} 
/********** Large devices only **********/
@media (min-width: 1200px) {
    #nav-list{
       display: none;
    }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

  #nav-list{
    display: none;
  }
  
}

/********** Small devices only **********/
@media (min-width:766px) and (max-width:991px){
  
  #nav-list{ 
    display:none;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw;
  }
  

  #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }

  
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

}